<noscript>You need to enable JavaScript to run this app.</noscript>
<!-- The React App is going to look for a #root div to attach to -->
<div id="root"></div>
<!-- Load the React app -->
<%= javascript_pack_tag 'index' %>
