<div class="container mt-5">
  <div class="row pt-5">
    <div class="col-sm-12 text-center pb-3">
      <h1>Learn-co Groups</h1>
    </div>
    <div class="col-sm-12 text-center">
      <p class="lead">Groups Students in a Smart Way</p>
    </div>
    <div class="col-sm-12 text-center pt-3">
      <a class="btn btn-primary btn-lg" href="/auth/learn" role="button">Login</a>
    </div>
  </div>
</div>
